body {
    background-image: url(https://media2.giphy.com/media/26tPrNaSLMaCBp5vy/giphy.gif?cid=ecf05e47q4u82wzpv9xq1g9wrn42voqwt9dbht6lfrp3og84&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    font-size: 40px;
    background-color: transparent;
    border: 5px solid rgba(0, 255, 98, 0.747);
    color: whitesmoke;
    margin-top: 70px;
    margin-left: 465px;
    font-family: 'Romanesco', cursive;
}
h2#btn {
    color: whitesmoke;
    font-size: 48px;
    text-align: center;
    margin-top: 150px;
}
h1,
h2 {
    color: #eeee;
    font-family: 'Romanesco', cursive;
    font-size: 40px;
    text-align: center;
}